<div class="container">
  <div class="row">
    <div>
      <span>
        <h1>My Shopping Bag <span class='pull-right'>Order Total:</span>
      </span>
    </div>
    <div class='table'>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='item in items'>
            <td>
              <img ng-src="{{item.imageUrl}}">
              <h3>{{item.name}}</h3>
              <p><strong>Caffeine Scale:</strong> {{item.caffeineScale}}</strong></p>
              <p><strong>Ingredients:</strong> {{item.ingredients}}</p>
              <p><strong>Rating:</strong> {{item.rating}}</p>
              <p><strong>Categories:</strong></p>
            </td>
            <td>
                <button>Edit</button>
                <button>Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!--table-->
  </div> <!--row-->
</div> <!--container-->
